*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
.main2{
    height: 100vh;
    display: flex;
    justify-content: center;
}
.parts{
    display: flex;
    gap: 15px;
}
.rectangle-part{
    display: flex;
    gap: 10px;
}
.rectangle-part .rectangle{
    cursor: pointer;
    font-size: 12px;
    color: rgb(252, 186, 6);
    font-weight: bold;
    width: 140px;
    height: 550px;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    display: grid;
    place-items: center;
    border: 2px solid white;
    border-radius: 10px;
}
.square-part .square{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    width: 290px;
    height: 160px;
    display: grid;
    place-items: center;
    font-size: 12px;
    color: rgb(252, 186, 6);
    font-weight: bold;
    margin-top: 4%;
    border: 2px solid white;
    border-radius: 10px;
}
.part2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.rectangle3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.rectangle3 .rectangle{
    cursor: pointer;
    width: 90px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    border: 2px solid white;
    border-radius: 10px;
}
.rectangle1 .rectangle{
    cursor: pointer;
    display: grid;
    place-items: center;
    font-size: 12px;
    color: rgb(252, 186, 6);
    font-weight: bold;
    width: 350px;
    height: 170px;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    border: 2px solid white;
    border-radius: 10px;
}
.circles{
    display: flex;
    align-items: center;
    justify-content: center;
}
.circles .circle{
    cursor: pointer;
    display: grid;
    place-items: center;
    font-size: 12px;
    color: rgb(252, 186, 6);
    font-weight: bold;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    border: 2px solid white;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.part3{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.one-square, .two-square{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    border: 2px solid white;
    border-radius: 10px;
    width: 260px;
    height: 357px;
    display: grid;
    place-items: center;
    font-size: 12px;
    color: rgb(252, 186, 6);
    font-weight: bold;
}